/*Reset de estilos*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-weight: 800;
  font-size: 1.2em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
.encabezado {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 12em;
  background-color: #A70000;
  width: 100%;
}
.header_logo{
  display: flex;
  flex-direction: column;
  width: 20em;
  align-self: center;
  padding-left: 5em;
}
.header_img{  
  display: flex;
  height: 100%;
  scale: 1;
  width: 60%;
  object-fit: cover;
  object-position: center;
}
.contenedor_info a {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: inherit;
    text-decoration: none;
}
.contenedor_info {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  width: 100%;
  height: 100%;
  color: #A70000;
  font-size: 1.5em;
  font-weight: bold;
}
.contenedor_info ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.contenedor_info li {
  margin-right: 1em;
}
.contenedor_info a {
  text-decoration: none;
}
.container h1{
  padding: 2rem 2rem;
  font-size: 1.5em;
  font-weight: 600;
  color: #444444;
}
.container_main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 8em;
  width: 100%;
  border: 4px solid #A70000;
}
.container{
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
} 
.main_section{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  justify-content: space-between;
  width: 100%;
  margin-left: -10%;
}
.container_int{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.container_main img{
  display: flex;
  height: 100%;
  width: 40%;
  object-fit: cover;
  object-position: center;
}
.container_int img{
  display: flex;
  width: 5em;
  font-weight: bold;
}
.logo_parkimovil img{
  width: 6em;
  height: 6em;
}
.logo_parkimovil{
  width: 13em;
  height: 13em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}
.logo_ed{
  filter: hue-rotate(323deg) contrast(4) brightness(.6);
}
.logo_ef{
  filter: hue-rotate(323deg) contrast(4);
}
main h2{
  display: flex;
  justify-self: center;
  color: #000;
}
.Emergencia_section h2{
  display: flex;
  justify-self: center;
  color: #FFFFFF;
}
.Emergencia_section{
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #A70000;
  height: 18em;
  color: #222222;
  text-transform: uppercase;
  padding-top: 2em;
  text-align: center;
}

.subcontainer{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: 1.5em; 
  height: 16em;
  background-color: #A70000;
}
.img-container{
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 7em;
  height: 7em;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.Emergencia_section img{
  width: 2em;
  height: 2em;
}
.whitespace{
  display: flex;
  height: 6em;
  background-color: #FFFFFF;
  width: 100%;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #A70000;
  color: #FFFFFF;
  height: 12em;
  width: 100%;
}
.Kigo_inicio_link{
  display: flex;
  flex-direction: column;
  width: 20em;
  align-self: center;
  padding-left: 5em;
}
.rs_footer{
  width: 1em;
  height: 1em;
}
.iconos-social{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}